.chat-list {
  flex: 1;
  overflow: scroll;
  &&::-webkit-scrollbar {
    display: none;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      span {
        font-size: 1.25rem;
        font-weight: bold;
      }
      p {
        font-size: 0.85rem;
      }
    }
  }
}
